{% from 'link.html' import link %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <script src="{{ url_for('static', filename='/vendor/js/htmx.1.9.10.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/vendor/css/pico.2.0.3.jade.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
    <title id="title">{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav id="top_nav">
          {% block top_nav %}
          {% from 'link.html' import link %}
          <ul>
            <li>
              {{ link("index", "Home") }}
            </li>
          </ul>
          <ul>
            {% if g.user %}
              <li><span>{{ g.user.email }}</span>
              <li>{{ link("auth.logout", "Log Out") }}</li>
            {% else %}
            <li>
              {{ link("auth.signin", "Sign-in") }}
            </li>
            {% endif %}
          </ul>
          {% endblock %}
        </nav>
      </div>
    </header>
    <main class="container">
      {% block flash_messages %}
      <div id="flash_messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      {% endblock %}
      <div id="content">{% block content %}{% endblock %}</div>
    </main>
    <footer>
      <div class="container">
        <section>
          <nav>
            <ul>
              <li>
                <strong>About</strong>
              </li>
              <li>
                <a class="secondary" href="https://github.com/thavelick/plug-n-product">Source</a>
              </li>
              <li>
                <a class="secondary" href="https://tristanhavelick.com">Author</a>
              </li>
            </ul>
          </nav>
        </section>
        <section>
          <p>Copyright &copy; 2024 Tristan Havelick</p>
        </section>
      </div>
    </footer>
  </body>
</html>
