{% extends 'base.html' %}

{% block title %}Pricing{% endblock %}

{% block content %}
<h1>Pricing</h1>
<div class="pricing">
<p>
  Here's where we describe the benefits of paying us!
</p>
<div class="grid">
  <article>
    <h2>Does Nothign</h2>
    <p>This isn't free, and totally not worth it! In fact, paying for this site gets you no benefits at all.</p>
  </article>
  <article>
    <h2>Less than you spend on coffee</h2>
    <p>Only $9.99 a month!</p>
  </article>
</div>

<p>
  Want to take the plunge?
</p>
<p>
  <button>Subscribe Now!</button>
</p>
</div>
{% endblock %}

