{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="register-container">
  <h1>Register</h1>
  <form action="/register" method="POST">
    <fieldset>
      <label>
        Email:
        <input type="email" name="email" placeholder="name@email.com" autocomplete="email" value="{{ email }}" />
      </label>
      <label>
        Password:
        {% include 'password_field.html' %}
      </label>
      <label>
        <input type="checkbox" name="show_password" hx-post="/register/password" hx-target="#password" hx-swap="outerHTML" /> Show password
      </label>
    </fieldset>

    <input type="submit" value="Register" />
  </form>
  <p>Already have an account? <a href="/sign-in">Sign in</a></p>
</div>
{% endblock %}

