{% extends 'base.html' %}

{% block title %}Sign-In{% endblock %}

{% block content %}
{% from 'link.html' import link %}
<div class="signin-container">
  <h1>Sign In</h1>
  <form action="/sign-in" method="POST">
    <fieldset>
      <label>
        Email:
        <input type="email" name="email" placeholder="name@email.com" autocomplete="email" value="{{ email }}" />
      </label>
      <label>
        Password:
        {% include 'password_field.html' %}
      </label>
      <label>
        <input type="checkbox" name="show_password" hx-post="/sign-in/password" hx-target="#password" hx-swap="outerHTML" /> Show password
      </label>
    </fieldset>

    <input type="submit" value="Sign In" />
  </form>
  <p>Don't have an account? {{ link("register", "Register") }}
</div>
{% endblock %}

