.flashes li {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  list-style: none;
}

.flashes .warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #856404;
}

.flashes .error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #721c24;
}

.flashes .success {
  color: #155724;
  background-color: #d4edda;
  border-color: #155724;
}

footer {
  font-size: 14px;
}

footer nav ul {
  display: grid;
  grid-template-columns: 1fr;
}

footer nav ul li {
  padding-bottom: 2.5px;
  padding-top: 2.5px;
}

.signin-container, .register-container {
  max-width: 600px;
  display: block;
  padding: 0 auto;
  margin: 0 auto;
}
.pricing {
  text-align: center;
}


@media (min-width: 1280px) {
  .container {
    max-width: 950px;
  }
}
